  
  <div class="small-12 medium-9 column">
    <ul>
      <li>
        <a href="/">About</a>
      </li>
      <li>
        <a href="/proposals">All Proposals</a>
      </li>
      <li>
        <a href="/proposals?search=Aims">Aims</a>
      </li>
      <li>
        <a href="/proposals?search=Ethics">Ethics</a>
      </li>
      <li>
        <a href="/proposals?search=Structure">Structure</a>
      </li>
    </ul>
  </div>
