  
  <div class="small-12 medium-9 column">
    <ul>
      <li>
        <a href="/">About</a>
      </li>
      <li>
        <a href="/proposals">All proposals</a>
      </li>
      <li>
        <a href="/proposals?search=Purpose">Purpose</a>
      </li>
      <li>
        <a href="/proposals?search=Organisation">Organisation</a>
      </li>
      <li>
        <a href="/proposals?search=Ethics">Ethics</a>
      </li>
      <li>
        <a href="/guidelines">Guidelines</a>
      </li>
    </ul>
  </div>
