  
  <div class="small-12 medium-9 column">
    <ul>
      <li>
        <a href="/">About</a>
      </li>
      <li>
        <a href="/proposals">All proposals</a>
      </li>
      <li>
        <a href="/proposals?tag=Purpose">Purpose</a>
      </li>
      <li>
        <a href="/proposals?tag=Structure">Structure</a>
      </li>
      <li>
        <a href="/proposals?tag=Ethics">Ethics</a>
      </li>
      <li>
        <a href="/guidelines">Guidelines</a>
      </li>
    </ul>
  </div>
