<div class="row margin-top">
  <div class="menu small-12 medium-3 column">
    <%= render "shared/back_link" %>

    <ul class="menu vertical margin-top">
      <li><a href="#1"><strong>Question 1</strong></a></li>
      <li><a href="#2"><strong>Question 2</strong></a></li>
      <li><a href="#3"><strong>Question 3</strong></a></li>
    </ul>
  </div>

  <div class="text small-12 medium-9 column">
    <h1 class="clear">Frequently asked questions</h1>

    <h2 id="1">Question 1</h2>
    <p>text.</p>

    <h2 id="2">Question 2</h2>
    <p>text.</p>

    <h2 id="3">Question 3</h2>
    <p>text.</p>
  </div>
</div>
