<div class="row margin-top">
  <div class="menu small-12 medium-3 column">
    <%= render "shared/back_link" %>

    <ul class="menu vertical margin-top">
      <li><a href="#1"><strong>Proposals and categories</strong></a></li>
      <li><a href="#2"><strong>Creating a proposal</strong></a></li>
      <li><a href="#3"><strong>Guidelines for proposers</strong></a></li>
      <li><a href="#4"><strong>Code of conduct</strong></a></li>
      <li><a href="#5"><strong>Moderator guidelines</strong></a></li>
    </ul>
  </div>

  <div class="text small-12 medium-9 column">
    <h1 class="clear">MxV Guidelines</h1>

    <h2 id="1">Proposals and categories</h2>

      <p>As a Momentum member, you have a right to submit, debate, amend, support and composite proposals which will be debated at the national conference. MxV is an online forum available to members allowing them to do this. Proposals will cover three main areas – purpose, structure and ethics:</p>

      <p><b>Momentum's Purpose</b> – Purpose relates to Momentum's role, in the Labour Party and British society. Proposals should lay out strategic objectives for Momentum to achieve its core objectives of increasing participatory democracy, solidarity, and grassroots power and helping Labour become the transformative governing party of the 21st century. Proposals on purpose might therefore cover things like, for example, bringing new people into politics, transforming the Labour Party, making arguments for socialist principles and policies, and mobilising for Labour electoral successes. </p>

      <p><b>Momentum's Structure</b> – Proposals on structure should propose means of ensuring that Momentum is a democratic, transparent and accountable organisation which can effectively fulfil its purpose. Proposals on structure therefore may, for example, refer to the relative merits of organisational systems based on delegates elected by local groups and direct voting through online ballots. Because views of desired forms of organisation are often linked to members' broader visions of Momentum, proposals on structure can link to proposals on purpose (regardless of whether they are made by the same person), explaining how particular structures would increase Momentum's effectiveness.</p>

      <p><b>Momentum's Ethics</b> – Proposals on ethics can include issues relating to Momentum's rules and conduct within the organisation and by spokespeople. This includes not only the basics as agreed in Momentum's current Code of Ethics, but could also include, for example, Momentum's basic values, issues around finance and donations or standards of behaviour in public office. These proposals should avoid reference to specific individuals or cases.</p>

      <p>New proposals can be made between now and 1 January, after which there is a further period in which proposals can be amended and composited until 14 January. The process from here onwards will be agreed by Momentum's national committee in December.</p>

    <h2 id="2">Creating a proposal</h2>
    
      <p>Proposers can create proposals by <a href="/proposals/new">clicking on the 'Create a proposal' button</a>. Proposers should then fill in the form, allowing them to give their proposal a title, a short summary, and then the text.</p>

      <p>They can argue for their proposal through whatever channels they have available, including online forums and local Momentum groups. Potential supporters can also contact proposers directly and/or make comments in the online forum to suggest amendments and composites.</p>

    <h2 id="3">Guidelines for proposers</h2>
    
      <p>Proposers should consider making proposals short enough for readers to be able to consider them, in order to prevent participation from becoming too time-consuming and to encourage the maximum levels of participation possible.</p>
      
      <p>Proposals should also be written clearly in language which is widely understandable.</p>

    <h2 id="4">Code of conduct</h2>
    
      <p>Momentum promotes the values that Jeremy Corbyn popularised during his 2015 and 2016 campaigns, of fair, honest debate focused on policies, not personal attacks or harassment. All contributions in the online forum must follow this principle and be in line with Momentum's <a href="https://d3n8a8pro7vhmx.cloudfront.net/momentum/pages/92/attachments/original/1464702327/Code_of_Ethics.pdf?1464702327">Code of Ethics</a>. All Momentum members are reminded of the importance of conducting debates in a comradely and respectful fashion.</p> 

      <p>It is of course fine to make strong feelings clear, use humour, or point out where someone is being unreasonable. Critical comments about the role of other members, representatives, or staff of Momentum are of course part of democratic discussion but need to be made without resorting to personal attacks or slander and discussion should start from the presupposition that the overwhelming majority of people on all sides of the discussions are motivated by shared ideals of social justice and equality. Specific points are as follows:</p>

      <ul>
        <li>Avoid swearing and equally never abuse, threaten or make a personal remark towards anyone, even if they are being offensive towards you. </li>
        <li>If someone is offensive or threatening towards you, flag the comment so it can be moderated. You can also screen grab the message in question, save it and if necessary report it to digital@peoplesmomentum.com</li>
        <li>Any expressions of racism, sexism, ableism, antisemitism, Islamophobia, ageism, homophobia, or transphobia will not be tolerated and will be removed immediately, and users will be blocked. </li>
        <li>Because the objective of this space is to foster democratic and transparent debate, anonymous comments will not be permitted. </li>
        <li>Reposting the same link or message repeatedly will be treated as spam and removed.</li>
        <li>Moderators reserve the right to remove comments which are clearly in contravention of the code of ethics. Users making clearly abusive comments will be blocked, while ones who make comments which are are obviously contrary to the purpose of MxV will be given a warning, and repeat offenders will be blocked.</li>
      </ul>

    <h2 id="5">Moderator guidelines</h2>
      <p>Please note that the online forum in which people comment on proposals will be continually moderated for comments which are abusive or which contravene the Code of Ethics in any other way. Moderators are of course also obliged to comply with the Code of Ethics, and have their own guidelines which are as follows:</p>

      <p>Moderators must be respectful of all members, and must be discreet and maintain member confidentiality regarding member information. They must only delete member posts after consulting with the forum admins, and must act with professionalism at all times. Moderators must act with utmost objectivity and must not favour any particular 'side' in any given debate. Where posts are in a 'grey area' where they are potentially problematic but not explicitly in breach of the Code of Conduct, moderators should contact members directly and confidentially and raise any concerns with them.</p>

  </div>
</div>
