<div class="proposal-new row">

  <div class="small-12 medium-9 column">
    <%= render "shared/back_link" %>

    <h1><%= t("proposals.new.start_new") %></h1>
    <%= render "proposals/form", form_url: proposals_url %>
  </div>

</div>
