// Overrides and adds customized styles in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//

.search-results {
	/* Don't display 'There is 1 proposal containing the term...' */
	display: none;
}

.advanced-search {
	/* Hide advanced search (it's a bit broken) */
	display: none;
}

.total-supports abbr, .progress {
	/* Hide number of supports needed and progress meter */
	display: none;
}

.edit-title {
	color: black;
}

