<footer>

  <div class="row">
    <div class="small-12 medium-8 column">
      <p>
        <a href="http://www.peoplesmomentum.com/privacy_policy">Privacy policy</a>. This website is using the open source software <a href="https://github.com/consul/consul">Consul</a>.
        <br />Please report any problems and feedback to <a href="mailto:digital@peoplesmomentum.com">digital@peoplesmomentum.com</a>
      </p>
    </div>
  </div>

</footer>
