<footer>

  <div class="row">
    <div class="small-12 medium-8 column">
      <p>
        <a href="http://www.peoplesmomentum.com/privacy_policy">Privacy policy</a>. This website is <a href="https://github.com/peoplesmomentum/consul">free and open source software</a>, a fork of <a href="https://github.com/consul/consul">Consul</a>. <a href="https://github.com/PeoplesMomentum/consul/issues">Issue Tracker</a>
        <br />Please report any problems and feedback to <a href="mailto:digital@peoplesmomentum.com">digital@peoplesmomentum.com</a>
      </p>
    </div>
  </div>

</footer>
